@mixin dark-mode{
		@media (prefers-color-scheme: dark) {
				@content
		}
}

.tag-name{
  width: fit-content;
  margin: auto
}
.post{
  z-index: 2;
  margin: 2em 0;
  position: relative;
  padding: 0.5em 1.5em;
  border-top: dashed 1px black;
  border-bottom: dashed 1px black;
	@include dark-mode{
			border-top: dashed 1px rgba(255, 255, 255, 0.5);
			border-bottom: dashed 1px rgba(255, 255, 255, 0.5);
	}
  font-family: '游ゴシック体', 'Yu Gothic', 'YuGothic', 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', 'Osaka', 'ＭＳ Ｐゴシック', 'MS PGothic', 'sans-serif';
  word-wrap: break-word;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 1px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
	  background-color: black;
		@include dark-mode{
				background-color: rgba(255,255,255,0.5);
		}
  }

  h1.title{
    max-width: 100%;
    float: none;
		color: #022547;
		@include dark-mode{
				color: white;
		}
  }
  p.excerpt {
    margin: 2rem 0;
    margin-bottom: 1em;
    padding: 0;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    text-indent: 1rem;
		color: black;
			@include dark-mode{
					color: rgba(255, 255, 255, 0.86);
			}
  }
  a{
			text-decoration: none;
  }
  .content-tags{
    a{
      text-decoration: underline;
    }
  }
}
